@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>@Model.Message</h2>
    <p>
        What I hope to learn when it comes to Active Server Page
        Development is I hope to learn how to set up login accounts
    </p>
</div>
