@page
@model Lab5.Pages.Employees.IndexModel
@{
}
<div class="text-center">
<h1>Employees </h1>
<p>
    I think it'll be easier uploading my assignments using Git than BlackBoard.
    Seems pretty simple to use. Can't comment on the feedback part since 
    this is the first time using it 
</p>
</div>